@import '../../styles/colors.scss';

.flightPlanList {
  color: $darkTextColor;
  background-color: $lightBackground;
  overflow: scroll;

  .listContainer {
    margin: 0 10px;
    background-color: white;

    .selectedItem {
      background-color: $selectedBackgroundLight;
    }
  }
}
