.editorPage {
  background-color: #white;
  width: 100vw;
  height: 100vh;
  color: #333;
  display: flex;
  flex-direction: column;

  .pageHeader {
    padding: 0 10px;
    border-bottom: solid 1px black;
    background: rgb(25,67,93);
    h1 {
      color: white;
      margin-bottom: 5px;
    }
  }

  .editorContent {
    position: relative;
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    .editorHeader {
      display: flex;
      position: relative;
      padding: 5px 10px;

      & > div {
        flex-grow: 1;
      }
    }

    .actionsContainer {
      display: flex;
      flex-direction: row-reverse;
    }

    .editorMapContainer {
      flex-grow: 1;
      display: flex;
      .editorMap {
        flex-grow: 1;
        height: 100%;
      }
      .editorFlightList {
        width: 20%;
        min-width: 270px;
        height: 100%;
      }
    }
  }
}
