@import '../../styles/colors.scss';

.editorPage {
  background-color: $veryLightBackground;
  width: 100vw;
  height: 100vh;
  color: $darkTextColor;
  display: flex;
  flex-direction: column;

  .pageHeader {
    padding: 5px 10px;
    background: $darkBlueBackground;
    height: auto;
    h1 {
      color: $veryLightTextColor;
      margin: 0;
    }
  }

  .editorContent {
    position: relative;
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    .editorHeader {
      display: flex;
      position: relative;
      padding: 5px 10px;
      background-color: $veryLightBackground;

      & > div {
        flex-grow: 1;
      }
    }

    .actionsContainer {
      display: flex;
      flex-direction: row-reverse;
    }

    .editorMap {
      flex-grow: 1;
      width: 100%;
      height: 100%;
    }
    .editorFlightList {
      height: 100%;
    }
  }
}
